.description {
  font-size: 1.3rem;
}

.description span {
  display: none;
}

@media (min-width: 800px) {
  .description span {
    display: inline;
  }
}

.button {
  display: inline-block;
  background-color: var(--elements-color);
  padding: 16px 62px;
  border-radius: 35px;
  text-decoration: none;
  color: var(--title-color-white);
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--elements-hover);
  }
}

.section_titles {
  font-size: 2rem;
  font-weight: 400;
  padding: 5px;
}
